/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	scroll-behavior: smooth;
}

/* Default Styles (mobile)*/

/* hamburger */

video{
	position: fixed;
	z-index: 5;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	background-color: #C7CFC5;
}

.hamburger {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 20px;
	width: 25px;
	cursor: pointer;
	z-index: 3;
}

.hamburger.active .top {
	transform: translateY(10px) translateX(0) rotate(45deg);
	background: white;
}
.hamburger.active .middle {
	opacity: 0;
}
.hamburger.active .bottom {
	transform: translateY(-10px) translateX(0) rotate(-45deg);
	background: white;
}

.hamburger span {
	background: #292929;
	height: 1px;
	width: 25px;
	position: absolute;
	transition: all .25s ease;
	cursor: pointer;
}
.hamburger span:nth-of-type(2) {
	top: 10px;
}
.hamburger span:nth-of-type(3) {
	top: 20px;
}

#overlay {
	z-index: 2;
	position: fixed;
	background: #292929;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .25s, visibility .25s, height .25s;
	overflow: hidden;
}
#overlay.open {
	opacity: 1;
	visibility: visible;
	height: 100%;
}

#overlay nav {
	position: relative;
	top: 55px;
	left: 20px;
	font-size: 24px;
	height: 300px;
	font-family: 'Didact Gothic', sans-serif;
}

#overlay a{
	color: white;
	text-decoration: none;
	overflow: hidden;
}

#overlay a:hover {
	color: #818181;
}

#overlay img{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 65px;

}

.secondSection{
	position: relative;
	top: 30px;
}

.mobileNav{
	line-height: 1.5;
	color: white;
}

#bodyContent{
	margin-top: 115px;
}

/*For typing text*/

.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1, .text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  height: 1.25em;
  z-index: -1;
}

.text_1::after, .text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 9em;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 7.35em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


/*green header*/
#headerIcon{
	position: fixed;
	width: 141px;
	left: 15px;
	top: 15px;
	z-index: 1;
}

.headerBackground{
	position: fixed;
	width: 100%;
	height: 75px;
	left: 0px;
	top: 0px;
	background: #C7CFC5;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#navDesktop{
	display: none;
}

h1{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 22px;
	text-align: center;
}

h2{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 20px;
}

h3{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 18px;
}

p, .secondSection a, .projectButton, footer{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.25em;
}

figcaption{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1.25em;
	color: grey;
	text-align: center;
}

b{
	font-weight: 700;
}

a.projectButton{
	border: 1px solid #8F9E8B;
	border-radius: 15px;
	padding: 2px;
	display: block;
	margin: 30px auto 0px;
	width: 125px;
	text-align: center;
	text-decoration: none;
	color: #292929;
	transition: background-color .1s linear;
}

a.projectButton:hover{
	background-color: #8F9E8B;
}

.project{
	width: 85%;
	display: block;
	margin: 30px auto 0px;
}

#bodyContent img{
	width: 100%;
}

.projectTitle{
	padding-top: 2%;
}

#about{
	background-color: #292929;
	padding: 30;
}

#anniePhoto{
	width: 100%;
	position: relative;
	z-index: -1;
	top: 5px;
}

#aboutCopy{
	width: 75%;
	display: block;
	margin: 0 auto;
}

#aboutCopy a{
	color: white;
}

#aboutCopy a:hover{
	color: #C7CFC5;
}

#about h2, #about h3, #about p{
	color: white;
	line-height: 1.25em;
}

#about h2, #about h3{
	text-align: center;
}


footer{
	box-sizing: border-box;
	padding: 30px;
	width: 100%;
	background: #C7CFC5;
}

footer a{
	text-decoration: none;
	color: black;
}

footer a:hover{
	color: white;
}

footer p{
	max-width: 80%;
}

#signature{
	display: block;
	margin: 0 auto;
	width: 50%;
	padding: 20px;
	max-width: 300px;
}

.text a{
	color: black;
	text-decoration-color: #C7CFC5;
}

.text a:hover{
	color: #C7CFC5;
}

/*case study styles*/

.caseStudy h1{
	margin-bottom: 30px;
}

.caseStudy #bodyContent h2{
	border-bottom: 1px solid #C7CFC5;
}

.caseStudy #bodyContent img{
	display: block;
	margin: 0 auto;
}

.caseStudy .projectButton{
	margin: 25px auto 5px;
}

.caseStudy .text{
	background-color: white;
	padding: 25px;
	max-width: 800px;
	margin: 0 auto;
}

.caseStudy .buttonGrid{
	display: grid;
	margin: 0 auto;
	width: 70%;
	grid-template-columns: 1fr 1fr;
}

.caseStudy .buttonGrid .projectButton{
	width: auto;
	padding: 2px 5px;
	margin: 0px 2%;
}

.caseStudy a.projectButton:hover{
	color: #292929;
}

.footerGrid{
	display: grid;
}

.caseStudy .text ul{
	margin-left: 20px;
	list-style-type: circle;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.25em;
}

#archetypeGrid{
	display: grid;
	grid-template-columns: 1fr;
}

/*Desktop Styles*/
@media only screen and (min-width: 701px){

.hamburger, .overlay{
	display: none;
}

#headerIcon{
	position: fixed;
	width: 200px;
	top: auto;
	left: 25px;
	bottom: 65px;
	z-index: 1;
}

.headerBackground{
	width: 250px;
	height: 100%;
	left: 0px;
	top: 0px;
}

#navDesktop{
	display: block;
	margin: 0 auto;
	left: 25px;
	z-index: 2;
	position: fixed;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 22px;
	width: 200px;
	height: 100%;
	line-height: 2.5em;
}

#navDesktop a{
	text-decoration: none;
	color: #292929;
}

#navDesktop p, #navDesktop h2{
	color: #292929;
}

#navDesktop a:hover{
	color: white;
}

.secondSection{
	text-align: center;
	position: fixed;
	top: auto;
	bottom: 10px;
	left: 40px;
}

#bodyContent{
	margin-top: 15px;
	position: relative;
	margin-left: 250px;
}

.project{
	width: 70%;
	max-width: 800px;
	margin: 30px auto 0px;
}

#about{
	margin-left: 250px;
}

footer{
	display: none;
}

/*case study page styles*/

.caseStudy .hamburger, .caseStudy .overlay{
	display: block;
}

.caseStudy .overlay .secondSection{
	position: relative;
	top: 30px;
	text-align: left;
	bottom: auto;
	left: auto;
}

.caseStudy #bodyContent img{
	max-width: 800px;
}

}/*ends desktop styles*/